section.listings-listing( class=end ? 'listings-listing-end' : '' )
  .listings-section-left
    h1= listing.formattedRent()
    h2.listings-bed-count
      .listings-count-num= listing.bedsDisplay()
      if listing.bedsDisplay() == 'S'
        | studio
      else
        | bed
    h2.listings-bath-count
      .listings-count-num= listing.get('baths')  || '?'
      | bath
    if listing.get('location')
      h3= listing.get('location').neighborhood || listing.get('location').name
      h4= listing.get('location').formattedAddress || listing.get('location').formatted_address
      h5( class=listing.listedAgoClass() ) Listed #{listing.listedAgo()}
    a.rounded-button( target='_blank', href=listing.get('url') )
      | See more on #{listing.sourceWebsiteName()}
  .listings-section-middle
    if listing.get('pictures').length
      ul.listings-pictures
        for url in listing.get('pictures')
          li
            img( src=url )
    else
      .listings-no-pictures No pictures