extends ../layout/templates/index

block content
  .page-container
    header#listing-page-header
      h1
        span#listing-page-bed= listing.get('beds')
        small Bed
        span#listing-page-bath= listing.get('baths')
        small Bath
        span#listing-page-rent= listing.formattedRent()
        br
        small#listing-page-location= listing.get('location').neighborhood || listing.get('location').name
        span#listing-page-listed-ago Listed #{listing.listedAgo()}
      a.rounded-button( href=listing.get('url') target='_blank' )
        | See More on #{listing.sourceWebsiteName()}
    #listing-page-left
      #listing-page-pictures-container
        ul#listing-page-pictures
          for url in listing.get('pictures')
            li
              img( src=url )
    #listing-page-right
      if listing.get('location').lat
        #listing-page-map
      #listing-page-map-details
        h3= listing.get('location').name
      if listing.get('location').at
        button.rounded-button Street View
      #listing-page-ad
        h5 Advertisement
        include ad.html